---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
$primary: #18453B;

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;
// /* Light (day) mode override */
// [data-theme="light"] .navbar-light .navbar-nav .nav-link.active,
// [data-theme="light"] .navbar-light .navbar-nav .nav-link.show,
// [data-theme="light"] .navbar-light .navbar-nav .nav-link:hover,
// [data-theme="light"] .navbar-light .navbar-nav .nav-link:focus {
//   color: #18453B !important;  /* MSU Green */
// }

// [data-theme="light"] .navbar-light .navbar-nav .nav-link.active::after {
//   background-color: #18453B !important;
// }
/* Override Bootstrap primary and purple with MSU green */
:root {
  --bs-primary: #18453B !important;
  --purple: #18453B !important;   /* just in case */
}

